* {
  box-sizing: border-box;
}

body,
p {
  margin: 0;
}

:root {
  --sans-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --border: #cecfd4;
  --accent: #dd6832;
  --accent-dark: lch(from var(--accent) calc(l - 15) c h);
  --accent-light: lch(from var(--accent) calc(l + 15) c h);
}

:root {
  --background: #fff;
  --accent-background: #dfe1e9;
  --text: #252525;
  --text-light: #585858;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #161516;
    --accent-background: #2d2a33;
    --text: #ccbaba;
    --text-light: #ffffff;
  }
}

html {
  font-family: var(--sans-font);
  scroll-behavior: smooth;
  font-size: 16px;
  color: var(--text);
  background: var(--background);
}

header {
  color: var(--text);
}

footer {
  color: var(--text-light);
}

a {
  color: var(--accent-dark);
  text-decoration: underline;
}
a:visited {
  color: var(--text);
  text-decoration: dotted;
}
a:hover {
  color: var(--accent);
  text-decoration: none;
}

nav {
  font-size: 1rem;
  line-height: 2;
  padding: 1rem 0 0 0;
  align-content: space-around;
  align-items: baseline;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style-type: none;
}
nav a,
nav a:visited {
  margin: 0 1rem 1rem 0;
  border: 1px solid var(--border);
  border-radius: 5px;
  color: var(--text);
  display: inline-block;
  padding: 0.1rem 1rem;
  text-decoration: none;
}
nav a:hover,
nav a:visited:hover {
  color: var(--accent);
  border-color: var(--accent);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 1rem 0 1rem 0;
  width: 100%;
}
table th {
  color: var(--accent);
  font-weight: 600;
  text-align: left;
}
table td,
table th {
  padding: 0.75rem 0.75rem;
}
table thead {
  border-bottom: solid 2px var(--border);
}
table tbody tr:nth-child(2n + 1) {
  background-color: var(--accent-background);
}
table tbody tr {
  border: solid 1px var(--border);
  border-left: 0;
  border-right: 0;
}
table tfoot {
  border-top: solid 2px var(--border);
}

input,
select,
button,
textarea {
  font-size: inherit;
  font-family: inherit;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  color: var(--text);
  background-color: var(--background);
  width: 100%;
  display: inline-block;
  border: 1px solid var(--border);
  border-radius: 0.25rem;
  box-sizing: border-box;
  resize: vertical;
}
input:focus,
select:focus,
button:focus,
textarea:focus {
  outline-color: var(--accent);
  border: 1px solid var(--accent);
  outline: none;
  box-shadow: 0 0 0.5rem var(--accent-dark);
}

input[type='checkbox'],
input[type='radio'] {
  width: auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.col {
  padding: 0.5rem;
  box-sizing: border-box;
  flex-grow: 1;
}

.col-small {
  flex-basis: 25%;
}

.col-medium {
  flex-basis: 50%;
}

.col-large {
  flex-basis: 100%;
}

@media (max-width: 1200px) {
  .col-small {
    flex-basis: 33.33%;
  }
  .col-medium {
    flex-basis: 50%;
  }
}
@media (max-width: 992px) {
  .col-small {
    flex-basis: 50%;
  }
  .col-medium {
    flex-basis: 100%;
  }
}
@media (max-width: 768px) {
  .col-small,
  .col-medium {
    flex-basis: 100%;
  }
}

.details {
  flex: 1;
}

.icons {
  display: flex;
  flex-direction: column;
  flex-grow: 0;

  button {
    width: 2rem;
    height: 2rem;
    margin: 0;
    padding: 0;
  }
}
